body{
	margin: 0px;
	background-color: #dedede;
}
header{
	margin: 0px;
	padding: 0px;
	min-height: 70px;
	background-color: #333;
	color: #fff;
}
header nav{
	margin-top: 10px;
	margin-right: 20px;
	margin-down: 10px; 
	float: right;
}
header nav ul li{
	display:inline;
	margin-left:10px;
}
header a{
	font-size: 10px;
	color: #fff;
	text-decoration: none;
}
#page4{
	color: #939666;
}
article{
	margin: 20px;
	padding: 20px;
	background-color: #fff;
}
h3{
	color:#939393;
}
.author{
	color: #939393;
}
.picture{
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	width: 700px;
	border: solid 1px #E3E3E3;
}
#tableBottom{
	background-color: #A7A7A7;
	font-weight: 800;
}
table{
	width: 100%;
	text-align: left;
	border-collapse:collapse;
	border: solid #999;
	border-width: 1px;
}
table thead{
	color: #fff;
	background-color: #000;
}
aside{
	margin: 20px;
	padding: 20px;
	background-color: #fff;
}